*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Handlee', cursive;
    
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif; */

}

h1,h2,h3,h4,h5,h6{
    font-family: 'Italianno', cursive;
    font-size: 2rem;
}


.nav-logo img{
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid black;
    
}

.nav-head h1{
    font-size: 2.5rem;
    padding: 10px;
}

.nav-manu{
    display: flex;
    flex-direction: column;
    
    
}
.nav-manu a{
    text-decoration: none;
    font-size: 1.4rem;
    padding: 5px;
    color: white;
    background-color: green;
    border-radius: 10px;
    margin: 10px 20px;
    transition:0.4s;
    
}

a:hover{
    transform: scale(1.1);
    font-size: 1.5rem;
    background-color: transparent;
    color: gray;
}




[class*="col-"]{
    float: left;
    padding: 10px;

}

[class*="col-"]{
    width: 100%;
    
}



.navbar{
    background-color: whitesmoke;
    text-align: center;
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 1% 7%;
    /* max-width: 2000px; */
    /* display: grid;
    place-items: center; */

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */

}


.navbar::after{
    content: '';
    display: table;
    clear: both;
}


/* navbar ends */

.main-top{
    background-color: white;
    padding: 10px 15px;
    
    width: 100%;
    height: auto;
        
}

.main-top img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* main-top ends  */


.head1{
    padding: 20px;
    text-align: center;
    max-width: 1500px;
    height: auto;
    margin: 0 auto;
    font-weight: bold;
    

}
.head1 h2{
    font-size: 2rem;
    color: #fff;
    background-color: black;;
    display: inline;
    margin: 10px 20px;
    border-radius: 10px;
    padding: 10px;
}
.head1 p{
    margin-top: 30px;
    font-size: 1.3rem;
}

.head1 p span{
    font-size: 1.8rem;
    color: gray;
}
/* head1 ends */

.Products{
    background-color: whitesmoke;
    max-width: 1700px;
    height: auto;
    margin: 0 auto;
    padding: 1% 7%;
    text-align: center;
}

.img-head{
    text-align: center;
    font-size: 2rem;

}

.imgs img{
    max-width: 100%;
    height: auto;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 50%;
    
}

/* imgs ends */

.contact{
    background-color: blanchedalmond;
    
    
    padding: 4% 10%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    max-width: 1500px;
    height: auto;
}

.contact-head h3{
    font-size: 4rem;
    margin-bottom: 30px;
    text-align: center;
}

.contact-body{
    justify-content: left;
    align-items: left;
    font-size: 1.8rem;
    max-width: 100%;
    height: auto;

}

input{
    width: 100%;
    padding: 5px 20px;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
}

textarea{
    width: 100%;
    padding: 10px 20px;
    font-size: 1.5rem;
}

.btn{
    background-color: darkgray;
    display: inline;
    font: 1em sans-serif;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin: 0 auto;
    text-align: center;
}
.btn:hover{
    background-color: lightcyan;
    
}

/* .contact me  */

footer{
    background-color: darkcyan;
    margin: 10px 0;
    padding: 20px;
    text-align: center;
    color: white;
}

footer .copyright{

}


footer .media-manu{
    font-size: 2.5rem;
    
    
}

footer .media-manu a{

    color: white;
    
}



















/* @media (min-width: 576px) {
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}

    
    
}

@media (min-width: 768px) {
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}

    
    
}

@media (min-width: 992px) {
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}

    
    
} */



